.nav{
  height: 260px;
  background: url("img/header-background.png");
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  z-index: 0;
  margin-bottom: 20px;
  flex-direction: column;
  font-size: 4rem;

  .active {
    border-top: #1B1C1D solid 2px !important;
    border-radius: 0px !important;
    box-shadow: none;
    background: rgba(0,0,0,.05) !important;
    color: rgba(0,0,0,.95) !important;

      }
  .left{
    float: left;
    padding: 4rem 0rem 2rem 10rem;

  }


}